.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;

  & a {
    color: #000;
  }
}

/*smartphone*/
@media (max-width: 480px) {
}

@media (max-width: 320px) {
}

/*tablets*/
@media (max-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    & a {
      margin-left: 10px;
    }
  }
}

/*netbook*/
@media (max-width: 1024px) {
}

/*computer*/
@media (max-width: 1280px) {
}
